# Unix
alias tlf="tail -f"
alias ln='ln -v'
alias mkdir='mkdir -p'
alias ...='../..'
alias l='ls'
alias ll='ls -al'
alias lh='ls -Alh'
alias -g G='| grep'
alias -g M='| less'
alias -g L='| wc -l'
alias -g ONE="| awk '{ print \$1}'"
alias e="$EDITOR"
alias v="$VISUAL"

# git
alias gci="git pull --rebase && rake && git push"
alias ggrep="git grep --break --heading -n"

# Neovim
alias vi="lvim"
alias vim="lvim"
alias vimdiff="lvim -d"

alias reload!='. ~/.zshrc'

alias git='hub'
alias gtidy='git branch --merged | egrep -v "(^\*|main|develop)" | xargs git branch -d'

alias sync_upstream='git checkout main && git fetch upstream && git rebase upstream/main && git push --force-with-lease origin main'

#OS X
alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'
