# Unix
alias tlf="tail -f"
alias ln='ln -v'
alias mkdir='mkdir -p'
alias l='eza -al --icons'
alias ls='eza -al --icons'
alias lh='eza -Alh --icons'
alias lt='eza -aT --icons'
alias -g G='| grep'
alias -g M='| less'
alias -g L='| wc -l'
alias -g ONE="| awk '{ print \$1}'"
alias e="$EDITOR"
alias v="$VISUAL"
alias cat="bat"

# git
alias gci="git pull --rebase && rake && git push"
alias ggrep="git grep --break --heading -n"

# Neovim
alias vi="nvim"
alias vim="nvim"
alias vimdiff="nvim -d"

alias reload!='. ~/.zshrc'

alias git='hub'
alias gtidy='git branch --merged | egrep -v "(^\*|main|develop)" | xargs git branch -d'

alias sync_upstream='git checkout main && git fetch upstream && git rebase upstream/main && git push --force-with-lease origin main'

#OS X
alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'

#Autobahn jump scp
alias jumpscp="jump -c >/dev/null && scp -o 'ProxyCommand ssh -qx svcAutobahn@jump.autobahn.comcast.com -W %h:%p'"
