# General
alias ln='ln -v'
alias mkdir="mkdir -p"
alias l="eza -l --icons --git -a"
alias ls="eza -l --icons --git -a"
alias lh="eza -Alh --icons"
alias lt="eza --tree --level=2 --long --icons --git"
alias cat=bat
alias tf=tofu

# Neovim
alias vi="nvim"
alias vim="nvim"
alias vimdiff="nvim -d"

# Git
alias ggrep="git grep --break --heading -n"
alias gtidy='git branch --merged | egrep -v "(^\*|main|develop)" | xargs git branch -d'
alias sync_upstream='git checkout main && git fetch upstream && git rebase upstream/main && git push --force-with-lease origin main'
